@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }

    .Login form a {
        margin-bottom: 15px;
        display: block;
        font-size: 14px;
    }
}

.home > .Login {
    margin-top: 24px;
}

.home > .Login > form > .form-group {
    margin-bottom: 20px;
}

.home > .Login > form > a {
    display: block;
    margin-top: 6px;
    color: #333;
    text-decoration: none;
}